.manager-dashboard {
  background: linear-gradient(to bottom right, #ffffff 50%, #4fa1dc 100%);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* background: #f5f7fa; */
}

/* Header */
.manager-header {
  padding: 25px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-bottom: 1px solid #ddd;
}

.header-left {
  display: flex;
  align-items: center;
}


.manager-logo {
  height: 50px;
    position: absolute;
  left: 20px;
}

.logo-heading {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
}

/* Hamburger Icon */
.hamburger-btn {
  padding: 10px 20px;
  cursor: pointer;
  background-color: transparent;
  display: flex;
  align-items: center;
}

/* Sidebar */
.manager-sidebar {
  position: fixed;
  top: 60px;
  left: -250px;
  width: 250px;
  height: calc(100% - 60px);
  background-color: white;
  border-right: 1px solid #ddd;
  padding: 20px 10px;
  transition: left 0.3s ease;
  z-index: 1000;
}

.manager-sidebar.open {
  left: 0;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  border-bottom: 1px solid #ccc;
  background-color: #fff;
  position: relative;
}

.sidebar-close-btn {
  cursor: pointer;
  font-size: 20px;
  color: #333;
  position: absolute;
  right: 20px;
  top: 15px;
}

.sidebar-menu {
  list-style: none;
  padding-left: 0;
  margin-left: 25px;
}

.sidebar-menu > li {
  margin-bottom: 10px;
  font-weight: 600;
  cursor: pointer;
}

.sub-menu {
  list-style: none;
  padding-left: 15px;
  margin-top: 5px;
}

.sub-menu li {
  font-weight: normal;
  font-size: 14px;
  color: #555;
}

/* Sidebar Footer */
.sidebar-footer {
  margin-top: 180px;
  text-align: center;
}

.logout-btn {
  background-color: #007bff;
  color: white;
  padding: 6px 14px;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
  margin-left: 65px;
}

/* Main Content */
.manager-main-content {
  margin-top: 70px;
  padding: 20px;
  margin-left: 0;
  transition: margin-left 0.3s ease;
}

/* Dashboard Cards */
.card-row {
  margin-bottom: 20px;
}

.manager-card {
  padding: 25px;
  border-radius: 12px;
  color: white;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  text-align: center;
  align-items: center;
  margin-left: 50px;
}

.manager-card.green {
  background-color: #28a745;
  width: 620px;
  height: 180px;
}

.manager-card.cyan {
  background-color: #17a2b8;
  width: 620px;
  height: 180px;
}

.manager-card.navy {
  background-color: #001f3f;
  width: 620px;
  height: 180px;
}

.manager-card.blue {
  background-color: #007bff;
  width: 620px;
  height: 180px;
}

/* .dropdown-item {
  cursor: pointer;
} */

.dropdown-toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}