/* General Styles */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f9f9f9;
}

/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

.dark-mode {
  background-color: #2a2929 !important;
  color: #f1f1f1 !important;
}

input::placeholder,
textarea::placeholder,
select {
  color: #999 !important;
  font-weight: 500;
}

form .form-control,
form .form-select {
  font-size: 0.95rem;
  padding: 0.75rem 1rem;
}

button[type="submit"]:hover {
  background-color: #001570;
}

.dark-mode .nav-link-custom,
.dark-mode .navbar-brand,
.dark-mode h2,
.dark-mode h3,
.dark-mode p,
.dark-mode li,
.dark-mode label,
.dark-mode span {
  color: #f1f1f1 !important;
}

.contact-us-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Contact Form Section */
.contact-form {
  display: flex;
  gap: 2rem;
}

/* Vertical Separator Line */
.vertical-separator {
  height: 100%;
  width: 1px;
  background-color: #ddd;
}

/* Footer */
footer {
  color: white;
  text-align: center;
}

footer a {
  color: white;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}
/* General styles for icons */
.me-2 {
  margin-right: 0.5rem; /* Space between icon and text */
}

/* Optional: Customize icon color */
.fa-envelope {
  color: #007bff; /* Blue color for mail icons */
}

/* Hover effect */
.fa-envelope:hover {
  color: #0056b3; /* Darker blue on hover */
}