.signup-page {
    background: linear-gradient(to bottom right, #ffffff 50%, #b5d8f1 100%);
    min-height: 100vh;
  }
  
  .signup-box {
    margin-top: 5px;
    width: 100%;
    max-width: 500px;
  }
  .navbar {
  padding: 0.8rem 1rem;
  width: 100%;
  z-index: 1030; /* Higher than most elements */
}

/* Brand Logo Styling */
.navbar-brand {
  font-size: 1.5rem;
  margin-right: 2rem;
}

.brand-x {
  font-size: 2rem;
  color: #007bff;
}

.brand-small {
  font-size: 1.5rem;
}